*{ 
  box-sizing: border-box;
}
body{
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Taviraj', serif;
}
h1,h2,h3{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
header{
  background-color: #000000; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: flex;
  padding: .1em;
}
nav[role="navigation"].row{
  margin-bottom: 0;
  max-width: 1280px;
}
main {
  text-align: center;
}
section.about-me{
  min-height: 100vh;
}
section{
  padding-bottom: 3em;
}
h3{
  padding-top: 2px;
  font-size: 1.7em;
  color: #226089;
}
h2{
  margin-top: 20px;
  margin-bottom: 2px;
}

h2, h1{
  color: #226089;
  font-size: 40px;
  font-weight: 600;
}
strong{ 
  margin-right: .4em;
}
.about-me-container{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.intro-p{
  padding-bottom: 2em;
  font-size: 1.6em;
  color: #00263E;
}
.navBar-left{
  margin-left: 1em;
  margin-right: auto;
}
.navbar-anchors{ 
  display: flex;
  text-decoration: none;
  flex-direction: row;
  margin: 0 .3em 0 auto;
}

li{
  list-style: none;
}
li a, .brand{
  font-size: 1.1em;
  color: #4592af;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  transform: scaleX(1.4);
  margin-right: .7em;
}

.bio-p{
  padding-left: 15px;
  text-align: left;
  overflow: visible;
}
.bio-container{
  flex-direction: column
}
img.icon-about-me {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
img.about-me-pic{
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.3);
  margin-bottom: .7em;
  margin-right: .7em;
  padding: 0;
  border-radius: 3px;
}
img.project-pic{
  padding: 0;
  margin-bottom: 1em;
}
img.float-right{
  float:right;
  padding-bottom: 0px;
}
img.waiting-room{
  margin-bottom: .7em;
  margin-right: .5em;
}
img[alt="right answer"]{
  margin-bottom: 1em;
}
img.qqueued, img.caskmate-img, img.spanish-img{
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.3);
  padding: 0;
  border-radius: 4px;
}
div p{
  text-align: center;
  padding-right: 1.2%;
  margin-bottom: .7em;
}
div a{
  padding-left: 0px;
}
li p, .bio-p{
  font-size: 1.1em;
  line-height: 24px;
  
  color: #000000;
}
li p{
  overflow: auto;
}
.project-text{
  overflow: auto;
  margin-top: 1px;
}
.projects-app{
  background:#ececec;
  padding: 1.04166666%;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.3)
}
.project-pic{
  margin-top: .5em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
}

.project-pic:hover{
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-filter: brightness(85%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.projects-app {
  margin-bottom: 1em;
}
.project-title{
  padding: 0px;
  display: inline-block;
  margin-bottom: 0;
}
.live-link{
  display:block;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #4592af;
  margin-bottom: .5em;
}
.live-link a{
  text-decoration: none;
  color: #4592af;
  margin-right: 0;
}
.live-link a:hover, li a:hover, .brand:hover{
  color: rgb(197, 60, 60);
  font-size: 1.3em;
}

.caskmate-desc, .qqueued-desc,.spanish-app-desc, .howDoesItWorkText{
  font-size: 1em;
}
#aboutme, #design, #spadesDesign,#caskmateDesign{
  background-color: #e3c4a8;
}
#contact{
  background-color: #f2f2f2;
}
.contact-info{
 float:right;
 margin-right: 3em;
}
.caskmate-main{
  margin-top: 20px;
}
.contact-title{
  float:right;
  display: none;
}

.tech-list{
  padding-left: 0;
  font-size: 1em;
  flex-direction: column;
  text-align: left;
}
.tech-list li{
  margin-bottom: 1em;
}

.row {
  max-width: 1200px;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.row::before,
.row::after {
  display: table;
  content: '';
}
.row::after {
  clear: both;
}
.col-3, .col-4, .col-5, .col-6, .col-12, .col-7 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-5, .col-6, .col-12, .col-7, .col-8  {
  width: 99%;
  min-height: 100%;
}
.col-2{
  width: 20%
}

@media only screen and (min-width: 640px) {
  .contact-title{
    display: inline-flex;
  }
  .col-3 {
    width: 40%;
  }
  .projects-app {
    margin-top: 29px;
  }
  .col-5 {
    width: 43%;
  }
  .project-desc-container{
    margin-top: -3em;
  }
  .project-desc-container-spaced{
    margin-top: -1em;
    flex-direction: column;
    display: flex;
  }
  .project-pic{
    margin-top: 1em;
  }
  img[alt="slack message"]{
    margin-top: 1em;
  }
  img[alt="right answer"]{
    margin-right: 4em;
  }
  img[alt="wrong answer"]{
    margin-left: 4em;
  }
  img.project-pic.float{
    float: right;
    margin-top: 2em;
  }
  .col-6 {
    width: 50%;
  }
  .col-7{
    width: 60%
  }
  .col-8{
    width: 80%;
  }
  .col-12 {
    width: 100%;
  }
}
